@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Open+Sans&family=Play:wght@400;700&family=Roboto:wght@400;500&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

p {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  color: #292929;
  font-family: "Play", "Alegreya Sans", "Open sans";
}

.wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.maincontent {
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  will-change: transform;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  background-color: #E01F3D;
  color: #ffffff;
  padding: 1.16667rem 2.27778rem;
  border-radius: 5.55556rem;
  font-family: "Play";
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.88889rem;
  line-height: 1;
}

.btn:hover {
  background-color: #ffffff;
  color: #E01F3D;
  -webkit-transition: 20ms;
  transition: 20ms;
}

.btn--transparent {
  background-color: transparent;
  border: none;
  text-transform: none;
  font-weight: normal;
}

.btn--transparent:hover {
  background-color: transparent;
  color: #E01F3D;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__item {
  margin-right: 0.55556rem;
}

@media screen and (max-width: 480px) {
  .socials__item {
    margin-right: 0.77778rem;
  }
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  width: 30px;
  height: 30px;
}

.socials__icon {
  width: 30px;
  height: 30px;
  fill: #B3B3B3;
}

.socials__icon:hover {
  fill: #292929;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media screen and (max-width: 480px) {
  .socials__icon {
    width: 24px;
    height: 24px;
  }
}

.contact {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  font-style: normal;
  font-family: "Play";
  font-weight: 400;
  white-space: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 5% 0;
}

.contact__logo {
  width: 12px;
  height: 12px;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  border: none;
  background-color: #292929;
  -webkit-mask-image: url("../img/tel.svg");
          mask-image: url("../img/tel.svg");
  margin-right: 0.33333rem;
}

@media screen and (max-width: 768px) {
  .contact {
    color: #E01F3D;
  }
  .contact__logo {
    background-color: #E01F3D;
  }
}

@media screen and (max-width: 480px) {
  .contact {
    color: #292929;
  }
  .contact__logo {
    background-color: #292929;
  }
}

.section {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__title {
  font-size: 2.66667rem;
  font-weight: bold;
  font-family: "Play";
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  line-height: 1.2;
  color: #000000;
  max-width: 32.94444rem;
}

@media screen and (max-width: 768px) {
  .section__title {
    font-size: 8vw;
  }
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}

.fixed-menu--light .fixed-menu__link::before {
  background: #ffffff;
}

@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
}

.fixed-menu__item {
  margin-bottom: 0.66667rem;
}

.fixed-menu__item:last-child {
  margin-bottom: 0;
}

.fixed-menu__link {
  display: block;
  position: relative;
  width: 0.88889rem;
  height: 0.88889rem;
  border: 0.05556rem solid transparent;
  border-radius: 50%;
  cursor: pointer;
}

.fixed-menu__link::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  background: #292929;
  opacity: 0.6;
}

.fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}

.fixed-menu__item--active .fixed-menu__link::before {
  background: #E01F3D;
}

.fixed-menu--light .fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu--light .fixed-menu__item--active .fixed-menu__link::before {
  background: #fff;
}

@font-face {
  font-family: 'features-icon';
  src: url("../img/fonts/features-icon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="features__icon--"], [class*=" features__icon--"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'features-icon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.features__icon--noise:before {
  content: "\e900";
}

.features__icon--charging:before {
  content: "\e901";
}

.features__icon--plug:before {
  content: "\e902";
}

.features__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__item p {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  font-size: 0.88889rem;
  font-weight: 400;
  font-family: "Play";
  color: #666666;
}

@media screen and (max-width: 768px) {
  .features__item p {
    text-align: center;
  }
}

.features a {
  font-size: 2.27778rem;
  margin-right: 0.61111rem;
}

@media screen and (max-width: 768px) {
  .features {
    display: none;
  }
}

.hero {
  background: #F5F5F5;
  margin: 0 auto;
  position: relative;
  padding-bottom: 3rem;
}

@media screen and (max-width: 768px) {
  .hero {
    padding-bottom: 9.61111rem;
  }
}

@media screen and (max-width: 480px) {
  .hero {
    padding-bottom: 4rem;
  }
}

.hero::before {
  position: absolute;
  content: url("../img/Rectangle_hero.svg");
  width: 1.77778rem;
  height: 2.11111rem;
  -webkit-transform: rotate(7deg);
          transform: rotate(7deg);
  bottom: -0.88889rem;
  right: 10%;
}

.hero__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  margin-right: 1.77778rem;
  padding-top: 3%;
}

.hero__title {
  font-size: 2.66667rem;
  font-weight: bold;
  font-family: "Play";
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  line-height: 1.2;
  color: #000000;
  text-align: start;
  line-height: 52px;
  margin-bottom: 1.11111rem;
}

@media screen and (max-width: 768px) {
  .hero__title {
    font-size: 8vw;
  }
}

.hero__desc {
  font-size: 1.16667rem;
  font-weight: 400;
  font-family: "Alegreya Sans";
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .hero__desc {
    text-align: center;
  }
}

.hero__btn {
  margin-bottom: 3.88889rem;
}

.hero__img {
  width: 27.16667rem;
  height: 27.16667rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 768px) {
  .hero {
    padding-bottom: 9.61111rem;
  }
  .hero__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35%;
            flex: 0 0 35%;
  }
  .hero__img {
    width: 17.94444rem;
    height: 17.94444rem;
    margin-bottom: 3%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .hero__title {
    text-align: center;
    margin-bottom: 0.27778rem;
  }
  .hero__btn {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 480px) {
  .hero {
    padding-bottom: 4rem;
  }
  .hero__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__desc {
    text-align: center;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.33333rem 0;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .header-menu {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header_contact {
    display: none;
  }
}

.logo {
  margin-right: 2.11111rem;
}

@media screen and (max-width: 768px) {
  .logo {
    margin-right: 0;
    position: absolute;
    top: 3%;
    left: 4%;
  }
}

.menu {
  margin-right: 2.55556rem;
  font-size: 1rem;
  font-family: "Alegreya Sans";
  font-weight: 400;
  font-style: normal;
  line-height: 1.66667rem;
}

.menu__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item {
  margin-right: 1.5rem;
}

.menu__item:last-child {
  margin-right: 0rem;
}

.menu__link {
  white-space: nowrap;
}

.profit-section {
  padding-top: 5.72222rem;
  padding-bottom: 4.94444rem;
  position: relative;
}

@media screen and (max-width: 768px) {
  .profit-section {
    padding-top: 15.72222rem;
    padding-bottom: 14.27778rem;
  }
}

@media screen and (max-width: 480px) {
  .profit-section {
    padding-top: 2.05556rem;
    padding-bottom: 3rem;
  }
}

.profit-section::before {
  position: absolute;
  content: url("../img/decor/triangle-red.svg");
  width: 1.88889rem;
  height: 1.88889rem;
  bottom: -0.88889rem;
  left: 6%;
  z-index: 2;
}

.headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Play";
  margin-bottom: 3.61111rem;
}

.headline__subtitle {
  font-size: 0.88889rem;
  font-weight: 400;
  font-family: "Play";
  color: #666666;
  max-width: 32.77778rem;
  padding: 0 3.05556rem;
}

@media screen and (max-width: 768px) {
  .headline__subtitle {
    text-align: center;
  }
}

.desc {
  margin-bottom: 6.22222rem;
}

.desc__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .desc__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.desc__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 480px) {
  .desc__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.desc__item:nth-child(-n+2) {
  margin-right: 3.05556rem;
}

@media screen and (max-width: 768px) {
  .desc__item:nth-child(-n+2) {
    margin-right: 3%;
  }
}

@media screen and (max-width: 480px) {
  .desc__item:nth-child(-n+2) {
    margin-right: 0;
    margin-bottom: 24px;
  }
}

.desc__item:nth-child(-n+2)::before {
  position: absolute;
  display: block;
  content: url("../img/shape.svg");
  width: 3.88889rem;
  left: 95%;
  top: 3.05556rem;
}

@media screen and (max-width: 768px) {
  .desc__item:nth-child(-n+2)::before {
    display: none;
  }
}

.desc__img {
  max-width: 7.11111rem;
  width: 96%;
  min-height: 7.11111rem;
  height: 7.11111rem;
  padding: 1.66667rem;
  background-size: contain;
  background-position: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  border-radius: 100%;
  background-color: #F5F5F5;
  overflow: hidden;
  margin-bottom: 1.33333rem;
}

@media screen and (max-width: 480px) {
  .desc__img {
    margin-right: 2%;
    margin-bottom: 0;
  }
}

.desc__icon {
  width: 3.77778rem;
  height: 3.77778rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.desc__title {
  font-size: 1.33333rem;
  font-weight: 700;
  margin-bottom: 0.38889rem;
  text-align: center;
}

.desc__text {
  font-size: 0.88889rem;
  font-weight: 400;
  font-family: "Play";
  color: #666666;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .desc__text {
    text-align: center;
  }
}

.shop {
  background: #F5F5F5;
  position: relative;
  padding-bottom: 5.22222rem;
  padding-top: 3.66667rem;
}

@media screen and (max-width: 768px) {
  .shop {
    padding-top: 5.16667rem;
    padding-bottom: 7.33333rem;
  }
}

@media screen and (max-width: 480px) {
  .shop {
    padding-top: 3.94444rem;
    padding-bottom: 7.27778rem;
  }
}

.shop::before {
  position: absolute;
  content: url("../img/decor/square-black.svg");
  width: 1.33333rem;
  height: 1.33333rem;
  bottom: -0.66667rem;
  right: 9%;
  z-index: 2;
}

.shop__slider {
  position: relative;
  padding: 0px 7%;
}

.shop__slider .bx-wrapper {
  border: 0;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 0;
}

.shop__nav {
  position: absolute;
  width: 100%;
  top: 50%;
  z-index: 2;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .shop__nav {
    top: 30%;
  }
}

@media screen and (max-width: 480px) {
  .shop__nav {
    top: 25%;
  }
}

@media screen and (max-width: 320px) {
  .shop__nav {
    top: 20%;
  }
}

.shop__nav--left {
  left: -5%;
  position: inherit;
  display: block;
}

@media screen and (max-width: 768px) {
  .shop__nav--left {
    left: 3%;
  }
}

@media screen and (max-width: 670px) {
  .shop__nav--left {
    left: -1%;
  }
}

@media screen and (max-width: 480px) {
  .shop__nav--left {
    left: -13%;
  }
}

.shop__nav--right {
  right: 10%;
  position: inherit;
  display: block;
}

@media screen and (max-width: 768px) {
  .shop__nav--right {
    right: 15%;
  }
}

@media screen and (max-width: 670px) {
  .shop__nav--right {
    right: 10%;
  }
}

@media screen and (max-width: 480px) {
  .shop__nav--right {
    right: 2%;
  }
}

.shop__nav-icon {
  width: 1.33333rem;
  height: 2.22222rem;
}

.shop__toggle-menu {
  margin-bottom: 1.33333rem;
}

.shop__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .shop__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.shop__img {
  max-height: 100%;
}

@media screen and (max-width: 768px) {
  .shop__img {
    max-width: 17rem;
    max-height: 17rem;
    margin-bottom: 2.72222rem;
  }
}

@media screen and (max-width: 768px) {
  .shop__img {
    max-height: 70vw;
    margin-bottom: 1.44444rem;
  }
}

.shop__content {
  margin-left: 2.33333rem;
}

@media screen and (max-width: 768px) {
  .shop__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    text-align: center;
  }
}

.shop__title {
  font-family: "Play";
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.16;
  text-transform: uppercase;
  margin-bottom: 1.33333rem;
}

.shop__text {
  font-size: 0.88889rem;
  font-weight: 400;
  font-family: "Play";
  color: #666666;
  line-height: 1.18;
  margin-bottom: 1.33333rem;
}

@media screen and (max-width: 768px) {
  .shop__text {
    text-align: center;
  }
}

.shop__footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop__price {
  font-family: "Play";
  font-size: 2rem;
  line-height: 1.6;
  margin-right: 0.72222rem;
}

.toggle-menu {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.toggle-menu:hover > .toggle-menu__list {
  left: 100%;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .toggle-menu {
    display: none;
  }
}

.toggle-menu__icon {
  width: 91px;
  height: 91px;
}

.toggle-menu__list {
  position: absolute;
  min-width: 15.16667rem;
  top: 0;
  left: -9990px;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  background: #D5D5D5;
  -webkit-box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
          box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 0.22222rem;
  padding: 0.83333rem 0.77778rem 1.16667rem;
  font-size: 0.88889rem;
  line-height: 1.5;
}

.toggle-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.44444rem;
  padding: 0.55556rem 0.66667rem;
}

.toggle-menu__item:last-child {
  margin-bottom: 0;
}

.toggle-menu__pic {
  width: 1.77778rem;
  height: 1.77778rem;
  margin-right: 0.66667rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.toggle-menu__desc {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.toggle-menu__param {
  white-space: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin-left: auto;
}

.property__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 1.33333rem;
}

.property__item {
  font-family: "Play";
}

.property__item:first-child {
  margin-right: 2.44444rem;
}

.property__title {
  font-size: 0.88889rem;
  color: #666666;
  line-height: 1.18;
}

.property__desc {
  font-size: 1rem;
  line-height: 1.16;
  font-weight: 700;
}

.team {
  padding-top: 4.05556rem;
  padding-bottom: 1.33333rem;
}

.team__title {
  margin-bottom: 2.94444rem;
}

@media screen and (max-width: 768px) {
  .team__title {
    margin-bottom: 1.83333rem;
  }
}

@media screen and (max-width: 768px) {
  .team__title {
    margin-bottom: 2rem;
  }
}

.team__list--desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .team__list--desktop {
    display: none;
  }
}

.team__list--mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .team__list--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.team__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  max-width: 12.22222rem;
  margin-right: 1.11111rem;
}

.team__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .team__item {
    max-width: 12.33333rem;
    margin-right: 0;
    margin-bottom: 0.88889rem;
  }
  .team__item:last-child {
    margin-bottom: 0;
  }
}

.team__subtitle {
  font-family: "Play";
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .team__subtitle {
    font-family: "Alegreya Sans";
    font-size: 1.16667rem;
    position: relative;
  }
}

.team-arrow {
  position: absolute;
  right: 3%;
  bottom: 2%;
  width: 9px;
  height: 9px;
}

@media screen and (max-width: 768px) {
  .team-arrow {
    right: -7%;
    bottom: 25%;
  }
}

.team .team-arrow--down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.team__img {
  height: 16.11111rem;
  width: 12.33333rem;
  margin-bottom: 1.38889rem;
}

@media screen and (max-width: 768px) {
  .team__img {
    margin-bottom: 1.16667rem;
  }
}

.team__wrapper {
  position: absolute;
  -webkit-transition: height .2s;
  transition: height .2s;
  overflow: hidden;
  top: 100%;
  height: 0rem;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .team__wrapper {
    position: relative;
  }
}

.team__wrapper--active {
  position: absolute;
  top: 100%;
  min-height: 100vh;
  overflow: visible;
  padding: 24px 0 27px 0;
}

@media screen and (max-width: 768px) {
  .team__wrapper--active {
    position: relative;
    min-height: 36vh;
  }
}

@media screen and (max-width: 768px) {
  .team__wrapper--active {
    position: relative;
    min-height: 45vh;
  }
}

.team__content {
  text-align: center;
}

.team__position {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.16;
  margin-bottom: 0.33333rem;
}

.team__desc {
  font-size: 0.88889rem;
  line-height: 1.18;
  color: #666666;
}

.products {
  background-image: url("../img/products/products.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 75%;
  color: #ffffff;
  position: relative;
}

.products__list {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0;
  top: 0;
  bottom: 0;
}

.products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products__item:nth-child(1) {
  background: #999999;
}

.products__item:nth-child(2) {
  background: #151515;
}

.products__item:nth-child(3) {
  background: #E01F3C;
}

.products__title {
  position: relative;
  width: 5.55556rem;
  bottom: -95%;
  padding-top: 1.55556rem;
  padding-bottom: 1.88889rem;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  font-size: 36px;
  line-height: 1.19;
  font-family: "Alegreya Sans";
  font-weight: bold;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .products__title {
    width: 5rem;
    padding-top: 0.55556rem;
  }
}

.products__content {
  position: relative;
  background: rgba(51, 53, 55, 0.9);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 0;
  overflow: hidden;
  -webkit-transition: width .5s;
  transition: width .5s;
}

.products__container {
  padding: 40px 73px 45px 26px;
}

.products__close {
  position: absolute;
  top: 20px;
  right: 25px;
  border: none;
  z-index: 2;
}

.products p {
  font-family: "Alegreya Sans";
}

.section__title_products {
  color: #ffffff;
  position: absolute;
  left: 84px;
  top: 115px;
}

.reviews-section {
  padding-bottom: 3.5rem;
  padding-top: 3.77778rem;
  position: relative;
}

.reviews-section::before {
  position: absolute;
  content: url("../img/decor/grey-circle.svg");
  width: 1.94444rem;
  height: 1.94444rem;
  bottom: -0.88889rem;
  left: 10%;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .reviews-section {
    padding-bottom: 10rem;
    padding-top: 10.44444rem;
  }
}

@media screen and (max-width: 480px) {
  .reviews-section {
    padding-bottom: 4.55556rem;
    padding-top: 5.33333rem;
  }
}

.section__title_reviews {
  margin-bottom: 1.77778rem;
}

.reviews__display {
  background: #F8FAF9;
  position: relative;
  overflow: hidden;
  padding: 2.77778rem 2.5rem 1.88889rem;
  margin-bottom: 0.83333rem;
}

.reviews__display::before {
  content: "";
  display: block;
  position: absolute;
  width: 4.61111rem;
  height: 4.61111rem;
  background: #FFFFFF;
  border-radius: 50%;
  left: 50%;
  top: -3.61111rem;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.reviews__list {
  position: relative;
  min-height: 15.55556rem;
}

.reviews__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: 2sec;
  transition: 2sec;
}

.reviews__item.active {
  position: static;
  opacity: 1;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .reviews__display-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviews__avatar {
  width: 14.05556rem;
  height: 14.66667rem;
}

@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.22222rem;
    height: 7.22222rem;
    margin-bottom: 1.77778rem;
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2.22222rem;
}

@media screen and (max-width: 768px) {
  .reviews__content {
    margin-left: 0;
  }
}

.reviews__title {
  font-size: 1.33333rem;
  font-weight: bold;
  color: #292929;
  margin-bottom: 1.5rem;
}

.reviews__text {
  font-size: 0.88889rem;
  font-weight: 400;
  font-family: "Play";
  color: #666666;
  margin-bottom: 2.11111rem;
}

@media screen and (max-width: 768px) {
  .reviews__text {
    text-align: center;
  }
}

.reviews__autor {
  font-size: 1rem;
  font-family: "Play";
  font-weight: bold;
  color: #292929;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interactive-avatar {
  width: 4.11111rem;
  height: 4.11111rem;
  border: 0.22222rem solid transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media screen and (max-width: 768px) {
  .interactive-avatar {
    width: 4.05556rem;
    height: 4.05556rem;
  }
}

@media screen and (max-width: 480px) {
  .interactive-avatar {
    width: 3.5rem;
    height: 3.5rem;
  }
}

.interactive-avatar.active {
  border-color: #E01F3D;
}

.interactive-avatar__link {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.interactive-avatar__img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.form-section {
  background-image: url("../img/delivery_fon.png"), -webkit-gradient(linear, left top, left bottom, from(#181818));
  background-image: url("../img/delivery_fon.png"), linear-gradient(#181818);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  position: relative;
}

.form-section::before {
  position: absolute;
  content: url("../img/decor/pentagon.svg");
  width: 2.77778rem;
  height: 2.77778rem;
  top: -1.77778rem;
  right: 10%;
}

@media screen and (max-width: 768px) {
  .form-section {
    padding-bottom: 10.22222rem;
    padding-top: 10.05556rem;
  }
}

@media screen and (max-width: 480px) {
  .form-section {
    padding-bottom: 4.66667rem;
    padding-top: 4.83333rem;
  }
}

.form-title {
  color: #fff;
  margin-bottom: 3.38889rem;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 4.72222rem;
}

@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 10%;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.11111rem;
}

@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__row:not(:last-child) {
  margin-bottom: 0.68rem;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.11111rem;
}

.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: 0.16667rem solid transparent;
  padding: 1rem 0.66667rem;
}

@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.55556rem 0.44444rem;
  }
}

.form__input:focus {
  outline: none;
  border-color: #E01F3D;
}

.form__input--textarea {
  height: 9.66667rem;
  resize: none;
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 4.55556rem;
  }
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form__controls:nth-child(3) {
  margin-bottom: 2.44444rem;
}

.form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input-error {
  border-color: #ec379b;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.radio__title {
  margin-left: 0.55556rem;
  vertical-align: middle;
}

.radio--checkbox {
  margin-right: 0;
  margin-top: 1.55556rem;
}

.radio--checkbox .radio__visible {
  border-radius: 0;
}

.radio--checkbox .radio__visible::before {
  background: url(../img/check.svg) center center no-repeat;
}

.radio:first-child {
  margin-right: 1.33333rem;
}

.radio__elem {
  display: none;
}

.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.38889rem;
  height: 1.38889rem;
  position: relative;
  border-radius: 50%;
  background: #ffffff;
}

.radio__visible::before {
  content: "";
  width: 0.72222rem;
  height: 0.72222rem;
  position: absolute;
  display: none;
  background: #E01F3D;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 429px) {
  .radio :nth-child(-n+2) {
    margin-bottom: 6%;
  }
  .radio--checkbox {
    margin-top: 0;
  }
}

.section-map {
  position: relative;
}

#map {
  width: 100%;
  min-height: 100vh;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  background-color: #F8FAF9;
  padding: 0 3%;
}

.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 1.11111rem;
  padding-bottom: 1rem;
}

.footer__col--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.44444rem;
  padding-bottom: 1.66667rem;
}

.footer__address {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.33333rem;
  margin-bottom: 0.16667rem;
}

@media screen and (max-width: 480px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 8.38889rem;
    padding: 6% 0;
  }
  .footer__col {
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__col--right {
    padding: 0;
  }
}

.hamburger {
  width: 26px;
  height: 23px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}

.hamburger__plank {
  display: block;
  background: #292929;
  height: 4px;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: fixed;
    top: 4%;
    right: 4%;
  }
}

.menu-bar {
  position: fixed;
  background: #333537;
  color: #fff;
  opacity: 0;
  top: 0;
  -webkit-transform: translateX(-1000%);
          transform: translateX(-1000%);
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 100vh;
  width: 100%;
  padding: 30% 5%;
}

.menu-bar_active {
  position: fixed;
  background: #333537;
  color: #fff;
  opacity: 2;
  top: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 100vh;
  width: 100%;
  padding: 30% 5%;
  z-index: 99999;
}

.menu-bar__closebtn {
  position: absolute;
  content: url("../img/decor/cross.svg");
  width: 1.33333rem;
  height: 1.33333rem;
  top: 4.27778rem;
  right: 9%;
  z-index: 2;
}

.menu-bar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-bar__item {
  text-align: center;
}

.menu-bar__link {
  font-size: 2rem;
  font-family: "Play";
  line-height: 2;
  font-weight: 400;
}

.modal {
  display: none;
  max-width: 309px;
}

.modal__container {
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 37px 54px;
}

.modal__content {
  text-align: center;
  color: #000000;
  font-weight: 400;
  font-family: "Play";
  font-size: 1rem;
  margin-bottom: 2.5rem;
}

.fancybox-button {
  display: none;
}

.fancybox-content {
  padding: 0;
}

.error-modal {
  color: red;
}

.player-section {
  background: #F8FAF9;
}

.player-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.player {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: #292929;
}

.player-title {
  margin-bottom: 2.44444rem;
}

@media screen and (max-width: 768px) {
  .player-title {
    margin-bottom: 2.22222rem;
  }
}

.player__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 36.77778rem;
  max-height: 21.72222rem;
}

.player__window {
  width: 100%;
  height: 100%;
  display: block;
}

.player__btn-img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: transparent;
  cursor: pointer;
  border: none;
}

.player__btn-img--active {
  opacity: 0;
}

.player__toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #151515;
  width: 100%;
  height: 1.94444rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-left: 1.11111rem;
  padding-right: 1.27778rem;
}

.duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.duration__btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.duration__img {
  height: 0;
  width: 0;
  border: 10px solid transparent;
  border-left-color: #ffff;
  border-right-width: 0;
  background: transparent;
  outline: 0;
}

.duration__img--active {
  border: 7px solid #fff;
  height: 20px;
  border-top: 0;
  border-bottom: 0;
  padding: 1px;
}

.duration__length-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-left: 2.33333rem;
}

.sound__btn {
  border: 0;
  cursor: pointer;
  background: transparent;
  padding: 0;
}

.sound__btn::before {
  content: '';
  display: block;
  width: 29px;
  height: 3px;
  background-color: #E01F3D;
  position: absolute;
  left: 1px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(42deg);
          transform: translateY(-50%) rotate(42deg);
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity 0.4ms;
  transition: opacity 0.4ms;
}

.sound__btn.active::before {
  opacity: 1;
}

.sound__pic {
  width: 36px;
  height: 20px;
}

.sound__volume {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.duration-length {
  width: 100%;
  height: 4px;
  border-radius: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#E01F3D), color-stop(0%, #E01F3D), color-stop(0%, #333333));
  background: linear-gradient(90deg, #E01F3D 0%, #E01F3D 0%, #333333 0%);
  -webkit-appearance: none;
  -moz-appearance: 0;
       appearance: 0;
  outline: 0;
}

.duration-length::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: 0;
  background: #E01F3D;
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
}

.duration-length::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: 0;
       appearance: 0;
  background: #E01F3D;
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
}
/*# sourceMappingURL=style.css.map */