.contact {
    display: inline-flex;
    align-items: center;
    font-size: rem(18px);
    font-style: normal;
    font-family: $family_1;
    font-weight: 400;
    white-space: nowrap;
    flex-shrink: 0;
    padding:5% 0;

    & img {
        margin-right: rem(6px);
    }
}