@import "features-icon";

.features {
    padding-bottom: rem(50px);


    &__list {
        display: inline-flex;

    }

    &__item {
        display: flex;
        align-items: center;

        & p {
            flex: 0 0 45%;
            @include text;
        }

    }

    & a {
        font-size: rem(41px);
        margin-right: rem(11px);
    }


    @include tablets {
        display: none;
    }


}