.form-section {
    background-image: url("../img/delivery_fon.png"), linear-gradient(#181818);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: $white;
    position: relative;

    &::before {
        position: absolute;
        content: url("../img/decor/pentagon.svg");
        width: rem(50px);
        height: rem(50px);
        top: rem(-32px);
        right: 10%;
    }
    @include tablets {
        padding-bottom: 184px;
    }
    
    @include phones {
        padding-bottom: 84px;
    }
    
}

.form-title {
    color: #fff;
    margin-top: rem(68px);
    margin-bottom: rem(61px);
}

.form {
    display: flex;
    padding-bottom: rem(85px);

    @include tablets {
        flex-direction: column;
        padding: 0 10%;
    }




    &__col {
        flex: 1;
        margin-right: rem(20px);

        @include tablets {
            margin-right: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__row {
        display: flex;

        &:not(:last-child) {
            margin-bottom: 0.68rem;
        }
    }

    &__block {
        flex: 1;
        margin-right: rem(20px);

        &:last-child {
            margin-right: 0;
        }
    }

    &__input {
        width: 100%;
        border: rem(3px) solid transparent;
        padding: rem(18px) rem(12px);

        @include tablets {
            padding: rem(10px) rem(8px);
        }

        &:focus {
            outline: none;
            border-color: $red;
        }

        &--textarea {
            height: rem(174px);
            resize: none;
            margin-bottom: rem(36px);

            @include tablets {
                height: rem(82px);
            }
        }
    }

    &__controls {
        display: flex;
        flex-wrap: wrap;

        &:nth-child(3) {
            margin-bottom: rem(44px);
        }            
    }

    &__btn {
       display: flex;
       justify-content: center;
    }

}