.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: rem(24px) 0;
    margin-bottom: rem(18px);

    @include tablets {
        justify-content: space-between;

    }

    &__col {
        display: flex;
        align-items: center;       
    }

    &-menu {
        @include tablets {
            display: none; 
            }
    }

    &_contact {
        @include tablets {
            display: none; 
            }
    }
    
}

.logo {
    margin-right: rem(38px);
}

