@import "fixed-menu";
@import "features";

.hero {
    background: $back;
    margin: 0 auto;
    position: relative;
    padding-bottom: 54px;




    &::before {
        position: absolute;
        content: url("../img/Rectangle_hero.svg");
        width: rem(32px);
        height: rem(38px);
        transform: rotate(7deg);
        bottom: rem(-16px);
        right: 10%;
    }

    &__container {
        height: 100%;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 0 0 35%;
        margin-right: rem(32px);
        padding-top: 3%;
    }

    &__title {
        @include title;
        text-align: start;
        line-height: 52px;
        margin-bottom: rem(20px);
    }

    &__desc {
        font-size: rem(21px);
        font-weight: 400;
        font-family: $family_2;
        margin-bottom: rem(36px);
    }

    &__btn {
        margin-bottom: rem(70px);
    }

    &__img {
        width: rem(489px);
        height: rem(489px);
        border-radius: 50%;
        object-fit: cover;
    }


    @include tablets {

        padding-bottom: rem(173px);

        &__box {
            flex-direction: column-reverse;
            align-items: center;
            
        }

        &__content {
            align-items: center;
            margin-right: 0;
            flex: 0 0 35%;
        }

        &__img {
            width: rem(323px);
            height: rem(323px);
            margin-bottom: 3%;
            flex: 0 0 50%;

        }


        &__title {
            text-align: center;
            margin-bottom: rem(5px);
        }

        &__btn {
            margin-bottom: 0;
        }
    }

    @include phones {

        padding-bottom: rem(72px);



        &__content {
            align-items: center;
        }

        &__desc {
            text-align: center;
        }

    }

}