.profit-section {
    padding-top: rem(103px);
    padding-bottom: rem(89px);
    position: relative;

    @include tablets {
        height: 80%;
    }

    &::before {
        position: absolute;
        content: url("../img/decor/triangle-red.svg");
        width: rem(34px);
        height: rem(34px);
        bottom: rem(-16px);
        left: 10%;
    }

}

.headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $family_1;
    margin-bottom: rem(65px);

    &__title {
        margin-bottom: rem(18px)
    }

    &__subtitle {
        @include text;
        max-width: rem(590px);
        padding: 0 rem(55px);
    }

}


.desc {

    margin-bottom: rem(112px);

    &__list {
        display: flex;
        justify-content: space-between;

        @include phones {
            flex-direction: column;
        }
    }

    &__item {
        display: flex;
        position: relative;
        flex: 1;
        flex-direction: column;
        align-items: center;

        @include phones {
            flex-direction: row;
            flex: 0 0 100%;
        }

        &:nth-child(-n+2) {
            margin-right: rem(55px);

            @include tablets {
                margin-right: 3%;
            }

            @include phones {
                margin-right: 0;
                margin-bottom: 24px;
            }
        }


        &:nth-child(-n+2)::before {
            position: absolute;
            display: block;
            content: url("../img/shape.svg");
            width: rem(70px);
            left: 95%;
            top: rem(55px);

            @include tablets {
                display: none;
            }
        }

    }

    &__img {
        max-width: rem(128px);
        width: 96%;
        min-height: rem(128px);
        height: rem(128px);
        padding: rem(30px);
        background-size: contain;
        background-position: center;
        display: inline-flex;
        position: relative;
        border-radius: 100%;
        background-color: $back;
        overflow: hidden;
        margin-bottom: rem(24px);

        @include phones {
            margin-right: 2%;
            margin-bottom: 0;

        }
    }

    &__icon {
        width: rem(68px);
        height: rem(68px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__title {
        font-size: rem(24px);
        font-weight: 700;
        margin-bottom: rem(7px);
        text-align: center
    }

    &__text {
        @include text;
        text-align: center;
    }

}