.section {
    height: 100vh;
    height: -webkit-fill-available;
    height: fill-available;
    height: -moz-available;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    

    &__title {
        @include title;
        max-width: rem(593px);
    }
}