.shop {
    background: $back;
    position: relative;
    padding-bottom: rem(94px);
    padding-top: rem(66px);

    @include tablets {
        padding-top: rem(93px);
        padding-bottom: rem(132px);
    }

    @include phones {
        padding-top: rem(71px);
        padding-bottom: rem(131px); 
    }

    &::before {
        position: absolute;
        content: url("../img/decor/square-black.svg");
        width: rem(24px);
        height: rem(24px);
        bottom: rem(-12px);
        right: 9%;
        z-index: 2;
    }

    &__slider {
        position: relative;
        padding: 0px 7%;
    }
   

    &__nav {
        position: absolute;
        width: 100%;
        top: 50%;
        z-index: 2;
        transform: translateY(-50%);
        cursor: pointer;
        @include tablets {
            top: 22%;
        }

        @include phones {
            top: 15%;
        }

        &--left {
            left: -5%;
            position: inherit;
            display: block;
            @include tablets {
                left: 15%;
            }

            @include phones {
                left: -13%;
            }
            
        }

        &--right {
            right: 10%;
            position: inherit;
            display: block;
            @include tablets {
                right: 30%;
            }

            @include phones {
                right: 2%;
            }
        }

        

        &-icon {
            width: rem(24px);
            height: rem(40px);


        }
    }



    &__toggle-menu {
        margin-bottom: rem(24px);
    }

    &__item {
        display: flex;

        @include tablets {
            flex-direction: column;
            align-items: center;
        }
    }

    &__img {
        max-height: 100%;

        @include tablets {
            max-width: rem(306px);
            max-height: rem(306px);
            margin-bottom: rem(49px);
        }

        @include tablets {
            max-height: 70vw;
            margin-bottom: rem(26px);
        }

        @media screen {
            
        }
    }

    &__content {
        margin-left: rem(42px);
        @include tablets {
            flex: 0 0 30%;
            text-align: center;
        }
    }

    &__title {
        font-family: $family_1;
        font-weight: bold;
        font-size: rem(36px);
        line-height: 1.16;
        text-transform: uppercase;
        margin-bottom: rem(24px);
    }

    &__text {
        @include text;
        line-height: 1.18;
        margin-bottom: rem(24px);
    }

    &__footer {
        display: inline-flex;
        align-items: center;

    }

    &__price {
        font-family: $family_1;
        font-size: rem(36px);
        line-height: 1.6;
        margin-right: rem(13px);
    }

}