.socials {
    display: flex;
    margin-right: rem(70px);
  }
  
  .socials__list {
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  
  .socials__item {
    margin-right: rem(10px);
  }
  
  .socials__item:last-child {
    margin-right: 0;
  }
  
  .socials__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 36px;
    height: 36px;
  }

  @each $social, $position in (tg: -10px -10px, vk: -66px -10px, fb: -122px -10px, insta: -178px -10px) {
    .socials__item--icon--#{$social} {
      background: url(../img/icon/socials.png) #{$position};

      &:hover {
        background: url(../img/icon/socials.png) #{$position};
        filter: brightness(0);
        transition: color 0.6s ease-in-out;

      }
    }
  }
  