.sound {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: rem(42px);
    

    &__btn {
        border: 0;
        cursor: pointer;
        background: transparent;
        padding: 0;
        &::before {
            content: '';
            display: block;
            width: 29px;
            height: 3px;
            background-color: $red;
            position: absolute;
            left: 1px;
            top: 50%;
            transform: translateY(-50%) rotate(42deg);
            z-index: 2;
            opacity: 0;
            transition: opacity 0.4ms;
            
        }
    
        &.active {
              &::before{
                  opacity: 1;
              }  
        }
    }

    &__pic {
        width: 36px;
        height: 20px;        
    }

    &__volume {
        width: 100%;
        display: flex;
        align-items: center;
    }
}